body {
	background-image: url('../img/chalk_bg.png');
	background-color: rgb(25, 25, 25);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/* Screen Container */
.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	min-height: 100vh;
}

.left-aside {
	grid-area: 1 / 1 / 6 / 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: left;
}

.left-aside > p {
	font-size: 3.2vw;
	width: 75%;
	color: #38b6ff;
}
.header {
	grid-area: 1 / 2 / 2 / 5;
	text-align: center;
}
.right-aside {
	grid-area: 1 / 5 / 6 / 6;
}
/* Section that contains game board */
.game-section {
	grid-area: 2 / 2 / 6 / 5;
}
.game-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-column-gap: 1px;
	grid-row-gap: 1px;

	min-height: 90%;
}
/* Individual game squares for game*/
.square {
	color: lightgray;
	font-size: 7.2vw;
	border: none;
	background: transparent;
}
